.card{
  max-height: 200px;
  max-width: 160px;
  border: 2px solid grey;
  text-overflow: none;
  padding: 5px;
}

.card-header, .card-footer{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-header{
  border-bottom: 1px solid grey;
  background: lightgray;
}

.card-footer{
  border-top: 1px solid grey;
  background: lightgray;
}